<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/styleform.css">
	<!--link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/hero-slider.css">
    <link rel="stylesheet" href="css/tooplate-style.css">
    <link rel="stylesheet" type="text/css" href="css/styleform.css"-->
    <title>Formulario</title>

</head>
<body>
	<div id="formulario" class="page-section">
		
		<div class="row">
			<div class="container">
				<div class="cta-blue border">
					<h3 class="text-center">Comprar</h3>
					<p class="text-center">Descubre la mejor herramienta para gestionar tus inventarios</p>
					<p class="text-center">Estas a un solo paso de obtener el mejor sitema para gestioanr tus inventarios</p>
					<form>
						<div class="form-group text-center">
							<input type="text" name="empresa" ng-model="empresa" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="Nombre de la empresa" required="">
							<br>
							<input type="text" name="empresa" ng-model="empresa" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="Nombre y Apellido" required="">
							<br>
							<input type="text" name="empresa" ng-model="empresa" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="Correo Electronico" required="">
							<br>
							<input type="text" name="empresa" ng-model="empresa" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="Numero Telefonico" required="">
							<br>							
							<div>
								<button type="submit" class="btn btn-light">Enviar</button>
							</div>							

						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>